html, body {
	background-color: ;
	margin: 0%;
	max-width: 100%;
}

.cadre {
	background-color: yellow;
	border-top: thick black;
	border-right: thick black;
	border-bottom: thick black;
	border-left: thick black;
}

.tigre {
	text-align: center;
	width: 100%;
}

.tigre img {
	width:100px;
	margin: 0 auto;
	height: auto;
}

.taille_texte_max {
	text-align: center;
	color: purple;
}

h1 {
	text-align: center;
	width: 100%;
}

h2 {
	color: blue;
	margin: 25px;
	width: 100%;
}




